html {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 100vh;
    min-height: 100%;
    background: rgb(185, 231, 152);
    background: linear-gradient(#add991, #b2a9ed);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: white;
    height: 30px;
    padding: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.cabecalho li {
    padding: 15px;
    display: inline-block;
    color: black;
}

#telaatual {
    margin-left: 20%;
}

#logout {
    border-radius: 100px;
    width: 5%;
    height: 4%;
    border-color: black;
    color: black;
    position: absolute;
    left: 93%;
    background-color: #28b106;
    cursor: pointer;
}

#titulo {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 3px 3px gray;
    padding: 5px;
}

.titulo {
    border-bottom: 2px solid white;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 1%;
}

.subtitulo {
    font-size: 30px;
    margin-left: 5px;
    padding-left: 25px;
}


/*#div2 {
  flex-direction: row;
  justify-content: left;
  width: 500px;
  background-color: yellow;
}
  */

.form-group {
    margin-left: 20px;
}

input {
    display: inline-block;
    vertical-align: left;
}

label {
    height: 25px;
    width: 200px;
    display: inline-block;
    vertical-align: right;
    margin: 10px;
}

.penultimobox {
    padding-top: 15px;
    display: flex;
    text-align: left;
    margin: 0;
}

.ultimobox {
    width: 50%;
    border: 1px solid black;
    margin-left: 50px;
}

.mliquidabox {
    font-size: 20px;
    margin-left: 15px;
}

#investimentos {
    font-size: 30px;
    padding-top: 25px;
}

.cultbox1,
.cultbox2,
.cultbox3 {
    width: 100%;
    padding: 30px;
    font-size: 20px;
    text-align: center
}

.espacamento {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Voltar {
    border-radius: 100px;
    position: absolute;
    bottom: 30px;
    padding: 5px;
    width: 10%;
    left: 30px;
    cursor: pointer;
}

.Excluir {
    border-radius: 100px;
    position: absolute;
    bottom: 30px;
    padding: 5px;
    width: 10%;
    left: 78%;
    cursor: pointer;
}

.Confirmar {
    border-radius: 100px;
    position: absolute;
    bottom: 30px;
    padding: 5px;
    width: 10%;
    left: 90%;
    cursor: pointer;
}

#logout:hover {
    color: white;
}

.divValorGeral {
    display: inline-grid;
    margin-left: 70px;
    margin-top: 20px;
}

.geral {
    font-size: 20px;
    border: 1px solid black;
    padding: 10px;
    justify-items: left;
    box-sizing: border-box;
    padding-right: 100px;
}

.despesas {
    border: 1px solid black;
    padding: 25px;
    justify-items: left;
    font-size: 20px;
    width: 100%;
}